@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:wght@200;300;400;600&family=Raleway:wght@100;200;300;400&display=swap");
.banner {
  height: 100vh;
}

.banner .banner-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner-inner .banner-left {
  padding: 0 8%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 56%;
}

.banner .banner-inner .banner-left #logo {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  font-size: 1.8rem;
  font-weight: 600;
  top: 2%;
  left: 10%;
  width: 50px;
  margin-bottom: 40px;
}

@media (max-width: 425px) {
  .banner .banner-inner .banner-left #logo {
    font-size: 1.5rem;
  }
}

.banner .banner-inner .banner-left h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 6rem;
  margin: 0;
}

.banner .banner-inner .banner-left h2.sudoku {
  color: #2a9d8f;
  margin: 0;
}

@media (max-width: 425px) {
  .banner .banner-inner .banner-left h2 {
    font-size: 3rem;
  }
}

.banner .banner-inner .banner-left p {
  width: 80%;
  margin: 2rem 0;
  color: #888888;
  font-size: 1.7rem;
  line-height: 1.3;
  letter-spacing: 1px;
}

.banner .banner-inner .banner-left p span {
  color: #ffa583;
  font-weight: bold;
}

@media (max-width: 425px) {
  .banner .banner-inner .banner-left p {
    width: 100%;
    font-size: 1rem;
  }
}

.banner .banner-inner .banner-left a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-weight: 600;
  border: 4px solid #2a9d8f;
  border-radius: 67px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.banner .banner-inner .banner-left a:hover {
  text-decoration: none;
  background-color: #2a9d8f;
  color: white;
}

@media (max-width: 425px) {
  .banner .banner-inner .banner-left a {
    padding: 5px;
    font-size: 1rem;
  }
}

.banner .banner-inner .banner-right {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff826d), to(#ffa583));
  background-image: linear-gradient(#ff826d, #ffa583);
  width: 44%;
  height: 100vh;
  position: relative;
}

@media (max-width: 768px) {
  .banner .banner-inner .banner-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.banner .banner-inner .banner-right #github {
  position: absolute;
  top: 2%;
  right: 10%;
  width: 3.5rem;
}

@media (max-width: 425px) {
  .banner .banner-inner .banner-right #github {
    width: 2.5rem;
  }
}

.banner .banner-inner .banner-right #girl {
  margin-top: 8rem;
  margin-left: 4rem;
  width: 80%;
}

@media (max-width: 768px) {
  .banner .banner-inner .banner-right #girl {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .banner .banner-inner .banner-right #girl {
    width: 200px;
  }
}

.banner .banner-inner .banner-right #dots {
  width: 100px;
  position: absolute;
  right: 10%;
  bottom: -10px;
}

@media (max-width: 425px) {
  .banner .banner-inner .banner-right #dots {
    width: 70px;
  }
}

.banner .banner-inner .banner-right .purple-dots {
  position: absolute;
  width: 180px;
  left: -80px;
  bottom: 60px;
}

@media (max-width: 425px) {
  .banner .banner-inner .banner-right .purple-dots {
    width: 120px;
  }
}

.banner .banner-inner .banner-right .yellow-dots {
  position: absolute;
  width: 180px;
  left: -150px;
  top: 50px;
}

@media (max-width: 425px) {
  .banner .banner-inner .banner-right .yellow-dots {
    width: 120px;
    left: -80px;
  }
}

.action {
  height: 100vh;
  background-color: #5c63ab;
  padding-bottom: 2rem;
}

.action-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.action-hero-heading {
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  color: white;
  margin: 2rem 0;
}

@media (max-width: 1366px) and (min-width: 769px) {
  .action-hero-heading {
    font-size: 3rem;
  }
}

@media (max-width: 425px) {
  .action-hero-heading {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .action-hero-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 350px;
  }
}

.action-hero-btns .btn button {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
  position: absolute;
  border: 2px solid black;
  border-radius: 100%;
  background-color: black;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .action-hero-btns .btn button {
    margin: 10px;
  }
}

.action-hero-btns .btn button#check {
  top: 20%;
  left: 5%;
  color: #2a9d8f;
}

.action-hero-btns .btn button#check:hover {
  width: 15rem;
  height: 15rem;
}

@media (max-width: 1366px) {
  .action-hero-btns .btn button#check {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 768px) {
  .action-hero-btns .btn button#check {
    left: 2%;
    top: 2%;
  }
}

@media (max-width: 425px) {
  .action-hero-btns .btn button#check {
    position: relative;
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
  }
}

.action-hero-btns .btn button#solve {
  width: 16rem;
  height: 16rem;
  font-size: 6rem;
  bottom: 1%;
  left: 10%;
  color: #e9c46a;
}

.action-hero-btns .btn button#solve:hover {
  width: 18rem;
  height: 18rem;
}

@media (max-width: 1366px) {
  .action-hero-btns .btn button#solve {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 768px) {
  .action-hero-btns .btn button#solve {
    left: 2%;
    bottom: -22%;
  }
}

@media (max-width: 425px) {
  .action-hero-btns .btn button#solve {
    position: relative;
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
  }
}

.action-hero-btns .btn button#clear {
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
  bottom: 1%;
  right: 20%;
  color: #ff826d;
}

.action-hero-btns .btn button#clear:hover {
  width: 10rem;
  height: 10rem;
}

@media (max-width: 1366px) {
  .action-hero-btns .btn button#clear {
    width: 8rem;
    height: 8rem;
  }
}

@media (max-width: 768px) {
  .action-hero-btns .btn button#clear {
    right: 2%;
    bottom: -20%;
  }
}

@media (max-width: 425px) {
  .action-hero-btns .btn button#clear {
    position: relative;
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
  }
}

.action-hero-btns .btn button#new {
  font-size: 4rem;
  top: 30%;
  right: 10%;
}

.action-hero-btns .btn button#new:hover {
  width: 8rem;
  height: 8rem;
}

@media (max-width: 1366px) {
  .action-hero-btns .btn button#new {
    font-size: 2rem;
    width: 10rem;
    height: 10rem;
    top: 20%;
  }
}

@media (max-width: 768px) {
  .action-hero-btns .btn button#new {
    right: 2%;
    top: 2%;
  }
}

@media (max-width: 425px) {
  .action-hero-btns .btn button#new {
    position: relative;
    width: 7rem;
    height: 7rem;
    font-size: 2.5rem;
  }
}

.action-hero-btns .btn button#new.disabled {
  opacity: 0.7;
  cursor: default;
  font-size: 3rem;
}

@media (max-width: 1366px) {
  .action-hero-btns .btn button#new.disabled {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .action-hero-btns .btn button#new.disabled {
    font-size: 1.5rem;
  }
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40rem;
  width: 40rem;
  border: 5px solid #e9c46a;
  border-radius: 1rem;
  position: relative;
}

@media (max-width: 1366px) and (min-width: 769px) {
  .table {
    width: 28rem;
    height: 28rem;
  }
}

@media (max-width: 425px) {
  .table {
    width: 22rem;
    height: 22rem;
  }
}

.block-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #e9c46a;
  border-radius: 1rem;
  margin: 2px;
}

.block-even .row {
  width: 4rem;
  height: 4rem;
  border: 2px solid #e9c46a;
  border-radius: 0.5rem;
}

@media (max-width: 1366px) and (min-width: 769px) {
  .block-even .row {
    width: 2.6rem;
    height: 2.6rem;
  }
}

@media (max-width: 425px) {
  .block-even .row {
    width: 2rem;
    height: 2rem;
  }
}

.block-odd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ff826d;
  border-radius: 1rem;
  margin: 2px;
}

.block-odd .row {
  width: 4rem;
  height: 4rem;
  border: 2px solid #ff826d;
  border-radius: 0.5rem;
  overflow: hidden;
}

@media (max-width: 1366px) and (min-width: 769px) {
  .block-odd .row {
    width: 2.6rem;
    height: 2.6rem;
  }
}

@media (max-width: 425px) {
  .block-odd .row {
    width: 2rem;
    height: 2rem;
  }
}

.footer {
  height: 35vh;
  background-color: black;
  position: relative;
}

@media (max-width: 425px) {
  .footer {
    height: 20vh;
  }
}

.footer .footer-inner {
  height: 80%;
  padding: 1% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-inner .footer-left {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.footer .footer-inner .footer-left h3 {
  color: #2a9d8f;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

@media (max-width: 425px) {
  .footer .footer-inner .footer-left h3 {
    font-size: 1.2rem;
  }
}

.footer .footer-inner .footer-left p {
  margin: 5px 0;
  color: #e9c46a;
  font-size: 1.5rem;
}

@media (max-width: 425px) {
  .footer .footer-inner .footer-left p {
    font-size: 1rem;
  }
}

.footer .footer-inner .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
  color: white;
}

.footer .footer-inner .footer-right h3 {
  margin-top: 10px;
  color: #2a9d8f;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

@media (max-width: 425px) {
  .footer .footer-inner .footer-right h3 {
    font-size: 1.2rem;
  }
}

.footer .footer-inner .footer-right .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-inner .footer-right .links svg {
  margin: 5px 5px;
  width: 30px;
  height: 30px;
}

@media (max-width: 425px) {
  .footer .footer-inner .footer-right .links svg {
    width: 20px;
    height: 20px;
  }
}

.footer .footer-inner .footer-right .links svg.github {
  fill: #ff826d;
}

.footer .footer-inner .footer-right .links svg.linkedin {
  fill: #e9c46a;
}

.footer #footer-dots {
  width: 10%;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer #visit {
  text-align: center;
  width: 10%;
  color: white;
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  margin: auto;
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
}

@media (max-width: 425px) {
  .footer #visit {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

*:focus-visible {
  outline: none;
}

html body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html body input {
  width: 88%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  padding: 0 4px;
  color: white;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  background-color: transparent;
  caret-color: #e9c46a;
  font-family: 'Amatic SC', cursive;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

html body input.error {
  background-color: #e42727;
  color: black;
  border-radius: 100%;
}

@media (max-width: 425px) {
  html body input {
    font-size: 2.5rem;
  }
}

html body input::-webkit-outer-spin-button,
html body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*# sourceMappingURL=App.css.map */